<ion-view title="new list">
  <div class="modal">
    <ion-header-bar class="bar-balanced">
    <button class="button icon" ng-click="closeModal()">Home</button>
      <h1 class="title" ng-click="closeModal()">Choose a Store</h1>
    </ion-header-bar>
    <ion-content>
      <div id="mapG" data-tab-disable="true">

      </div>

      <div class='list card'  ng-repeat="store in stores" >
        <a ui-sref="all_list" class="item item-icon-left" ng-click="setActiveStore(store, $event)" >
          <i class="icon ion-ios-cart-outline"></i>
          <h3>{{store.name}}</h3>
        </a>
      </div>
    </ion-content>
  </div>
</ion-vew>

