<style>
@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -200px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -200px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -200px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -200px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -200px 0; }
}

#slide{
    width: 100%;
    height: 100%;
    background-image: url(https://c1.staticflickr.com/9/8426/7877358372_a88ebffb2d_c.jpg);
    background-position: 0px 0px;

    animation: animatedBackground 10s linear infinite;
    -moz-animation: animatedBackground 10s linear infinite;
    -webkit-animation: animatedBackground 10s linear infinite;
    -ms-animation: animatedBackground 10s linear infinite;
    -o-animation: animatedBackground 10s linear infinite;
}

#slide-cover{
  opacity: 0.2;
  background: white;
  width: 100%;
  height: 100%;
}

.button{
  background-color: black;
  border-radius: 49%;
}

.expandUp{
  animation-name: expandUp;
  -webkit-animation-name: expandUp;

  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible; !important;
}

@keyframes expandUp {
  0% {
    transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60%{
    transform: translateY(-7%) scaleY(1.12);
  }
  75%{
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%) scale(1) scaleY(1);
  }
}

@-webkit-keyframes expandUp {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
  }
  60%{
    -webkit-transform: translateY(-7%) scaleY(1.12);
  }
  75%{
    -webkit-transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1);
  }
}

</style>
<div id="slide">
  <div id="slide-cover">
    <button class="homebutton expandUp icon ion-android-cloud-outline" ></button>
    <button class="homebutton expandUp icon ion-android-cloud-outline"></button>
    <button class="homebutton expandUp icon ion-android-cloud-outline"></button>
    <button class="homebutton expandUp icon ion-android-cloud-outline"></button>
    <button class="homebutton expandUp icon ion-android-cloud-outline"></button>
    <button class="button" onClick="changeClass()">Nav</button>

  </div>
</div>

<!--<script type="text/javascript">
//   var changeClass=function(){
//     var ele = document.querySelectorAll(".x");
//     for (i in ele){
//       // console.log(ele[0].style.visibility)
//       if (ele[i].className.indexOf("expandUp") > -1){
//         // console.log(ele[i].style.visibility)
//         ele[i].className.replace("expandUp", "")
//       }else{
//         ele[i].className=ele[i].className+" expandUp"
//       }
//     }
//   }
// </script>

<ion-slide-box class='here'>
        <ion-slide>
          <div>
             <img class='here' src="../img/grocery_bag_woman.png">
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img class='here' src="../img/Grocery-Produce.png">
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img class='here' src="../img/groceries-man.png">
          </div>
        </ion-slide>
      </ion-slide-box>

       <div class='button-bar bottom'>
          <button class="button button-outline button-balanced" ui-sref='new_list'>Create list</button>
          <button class="button button-outline button-balanced" ui-sref='all_list'>See your lists</button>
      </div> -->