<!--
<div id="slide">
  <div id="slide-cover">
    <button class="button expandUp icon ion-android-cloud-outline" ui-sref="new-list">New List</button>
    <button class="button expandUp icon ion-android-cloud-outline" ui-sref='list'>Active List</button>
  </div>
</div> -->

<!-- <ion-slide-box class='here'>
        <ion-slide>
          <div>
             <img class='here' src="../img/grocery_bag_woman.png">
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img class='here' src="../img/Grocery-Produce.png">
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img class='here' src="../img/fruit.png">
          </div>
        </ion-slide>
      </ion-slide-box> -->
<ion-slide-box class='slide' auto-play="true" slide-interval="{{changeColor()}}" does-continue="true">
  <ion-slide>
    <div class="slide" style="background-color: #{{activeColor}}">
      <img src="../img/vendable-layer.png" style="margin-top: 40%">
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide" style="background-color: #{{activeColor}};">
      <img src="../img/vendable-layer.png" style="margin-top: 40%">
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide" style="background-color: #{{activeColor}};">
      <img src="../img/vendable-layer.png" style="margin-top: 40%">
    </div>
  </ion-slide>
</ion-slide-box>

<div class='button-bar slide'>
    <!-- <div class='button-table'>
      <div>
          <button class='home-menu-buttons expandUp button' ng-hide="showButtons">
            Vendable
          </button>
          <button class='home-menu-buttons expandUp button' ng-hide="showButtons">
            All List
          </button>
      </div>
      <div>
          <button class='home-menu-buttons expandUp button' ng-hide="showButtons">
            Vendable
          </button>
          <button class='home-menu-buttons expandUp button' ng-hide="showButtons">
            Vendable
          </button>
      </div>
    </div> -->
    <div class='button-table'>
    <button class='home-menu-buttons toggle-home button' ng-click="openMap()">
            New List
    </button>
    <button class='home-menu-buttons toggle-home button' ui-sref='list'>
            All Lists
    </button>
    </div>
</div>
