
      <ion-side-menus>
        <ion-side-menu-content>
          <ion-header-bar class="bar-calm">
            <button class="button icon ion-navicon" ng-click="toggleLeft()"></button>
              <h1 class="title">
                {{activeList.title}}
              </h1>
              <a class="button" ui-sref='home'>Home</a>
              
              <button class="button icon" ng-click="openMap()">Change Store</button>
          </ion-header-bar>

          <ion-content>
            <!-- <button class="button button-full" ng-click="openSearchModal()">Search</button> -->
            <ion-list>
              <ion-item ng-repeat="item in activeList.items">
              <div class='row'>
                <div class='col-50'>
                  {{item.item}}
                </div>
                <div class='col-25'>
                  <p>${{item.price}}</p>
                </div>
                <div class='col-25'>
                  <button class="button" ng-click=deleteItem(item)>Delete</button>
                </div>
              </div>
              </ion-item>
            </ion-list>
            <button class="button button-block button-clear" ng-click="openSearchModal()">Add Items</button>
            <a class="button button-block button-calm" ng-href={{activeStore.laln}}>Direction to Store</a>
          </ion-content>
        </ion-side-menu-content>

        <ion-side-menu side="left">
           <ion-header-bar class="bar-positive">
            <button class="button icon" ui-sref='new-list'>New</button>
            <h1 class="title">
                All List
            </h1>
          </ion-header-bar>
          <ion-content>
          <ion-list>
          <div ng-repeat="list in lists">
            <ion-item ng-click="selectList(list,list.id)">{{list.title}}<button ng-click="deleteList(list)">Delete</button></ion-item>
          </div>
          </ion-list>
        </ion-content>
        </ion-side-menu>
      </ion-side-menus>
