<div class="modal">
  <ion-header-bar class="bar-calm">
    <h1 class="title">Search some fool</h1>
    <button class="button" ng-click="closeSearchModal()">Close</button>
  </ion-header-bar>

  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="data.keyWord" ng-change="search()">
      </label>
    </div>

    <ion-list>
          <ion-item ng-repeat="data in results">
            <button type="submit" class="button button-block button-positive" ng-click="addItem(data.item)">{{data}}</button>
          </ion-item>
    </ion-list>
  </ion-content>
</div>